{% extends "brews/scaffold.html" %}
{% load crispy_forms_tags %}

{% block title %}
Competitions
{% endblock %}

{% block content %}
{% if comps_present.count > 0 %}
<h2>Today's competitions</h2>
<ul>
    {% for competition in comps_present %}
    <li><a href="{% url 'competition' competition.id %}">{{ competition }}</a></li>
    {% endfor %}
</ul>
{% else %}
<p>No competitions today</p>
{% endif %}
{% if comps_past.count > 0 %}
<h2>Past competitions</h2>
<ul>
    {% for competition in comps_past %}
    <li><a href="{% url 'competition' competition.id %}">{{ competition }}</a></li>
    {% endfor %}
</ul>
{% else %}
<p>No past competitions</p>
{% endif %}
{% if comps_future.count > 0 %}
<h2>Upcoming competitions</h2>
<ul>
    {% for competition in comps_future %}
    <li><a href="{% url 'competition' competition.id %}">{{ competition }}</a></li>
    {% endfor %}
</ul>
{% else %}
<p>No future competitions</p>
{% endif %}

{% if comps_past.count == 0 and comps_present.count == 0 and comps_future.count == 0 %}
<p>If you can't see any competitions, it may be because you need an access key. Ask your competition organizer.</p>
{% endif %}

{% if user.is_superuser %}
<h2>New Competition</h2>
<form action="." method="post">
    {% csrf_token %}
    {{ form|crispy }}
    <button class="btn btn-primary btn-block" type="submit">Submit</button>
</form>
{% endif %}

{% endblock %}
