{% extends "brews/scaffold.html" %}
{% load crispy_forms_tags %}
{% load qr_code %}

{% block title %}
Competition
{% endblock %}

{% block content %}
<h1>{{ competition.name }}</h1>
<h6>{% if today < competition.date %}To be held{% else %}Held{% endif %} on {{ competition.date |date:"M d, Y" }}</h6>

{% if competition.entry_set.all.count > 0 %}
<h4>{% if competition.status == "REGR" %}Currently Registered{% else %}Competing{% endif %} Entrants</h4>
<ul>
    {% for entry in competition.entry_set.all %}
    <li>{% if entry.brewer.first_name or entry.brewer.last_name %}{{ entry.brewer.first_name }} {{ entry.brewer.last_name }}{% else %}{{ entry.brewer }}{% endif %} {% if user.is_superuser %}[{{entry.label}}: {{entry.name}}]{% endif %}</li>
    {% endfor %}
</ul>
{% endif %}

{% if competition.criteria.count != 0 %}
    {% if competition.status != "COMP" %} 
    <h4>Scoring Criteria</h4>
    {% else %} 
    <h4>Scoring Range</h4>
    {% endif %}
    <ul>
    {% for criterion in competition.criteria.all %}
        <li>{{ criterion }}</li>
    {% endfor %}
    </ul>
{% endif %}

{% if competition.status == "REGR" %}
<h4>Register a Brew</h4>
<form action="." method="post">
    {% csrf_token %}
    {{ entry_form|crispy }}
    <button class="btn btn-primary btn-block" type="submit" name="submit_entry_registration">Submit</button>
</form>
{% else %}
<h4>Rounds</h4>
<ul>
    {% for round in competition.round_set.all %}
    <li><a href="{% url 'round' round.id %}">Round {{ round.number }}: {% for entry in round.entries.all %}{{ entry.label }}{% if forloop.last %}{% else %}, {% endif %}{% endfor %}</a></li>
    {% endfor %}
</ul>
{% endif %}

{% if competition.judgement_set.all.count > 0 %}
<br />
<h4>Submitted scoresheets</h4>
<ul>
    {% for judgement in competition.judgement_set.all %}
    <li>{% if judgement.judge.first_name or judgement.judge.last_name %}{{ judgement.judge.first_name }} {{ judgement.judge.last_name }}{% else %}{{ judgement.judge }}{% endif %}</li>
    {% endfor %}
</ul>
{% endif %}

{% if competition.status == "CLSD" or competition.status == "COMP" or request.user.is_staff %} 
    <h4>Winners</h4>
    {% for entry in winners %}
    <li>Brew {{ entry.label }}</li>
    {% endfor %}
{% endif %}

{% if user.is_superuser %}
<h2>Update Competition</h2>
<form action="." method="post">
    {% csrf_token %}
    {{ competition_form|crispy }}
    <button class="btn btn-primary btn-block" type="submit" name="submit_competition_update">Submit</button>
</form>

<h2>Add Round</h2>
<form action="." method="post">
    {% csrf_token %}
    {{ round_form|crispy }}
    <button class="btn btn-primary btn-block" type="submit" name="submit_new_round">Submit</button>
</form>

{% qr_from_text request.build_absolute_uri|add:"?access="|add:competition.access_key size="M" %}

{% endif %}

{% endblock %}
