{% extends "base.html" %}
{% load static %}
{% load socialaccount %}

{% block body %}
<nav class="navbar navbar-expand-sm sticky-top">
    <div class="container-fluid">
        <a href = "{% url 'home' %}" class = "navbar-brand text-black fw-bold brand-font">
            <img src="{% static 'brews/beerMug.svg' %}" alt="Logo" width="26px" class="img-fluid d-inline-block align-text-top"> 
            BrewComp: {% block title %}{% endblock title %}
        </a>
        <button class="navbar-toggler" type = "button" data-bs-toggle="collapse" data-bs-target = "#navmenu"> 
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id = "navmenu">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'home' %}"><i class="bi bi-house"></i> <span class="d-sm-none">Home</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'competitions' %}"><i class="bi bi-trophy"></i> <span class="d-sm-none">Competitions</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'feedback' %}"><i class="bi bi-envelope"></i> <span class="d-sm-none">Feedback</span></a>
                </li>
                {% if user.is_authenticated %}
                {% if user.is_staff %}
                <li class="nav-item">
                    <a class="nav-link" href="/admin"><i class="bi bi-wrench-adjustable"></i> <span class="d-sm-none">Admin</span></a>
                </li>
                {% endif %}
                {% comment %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'settings' %}"><i class="bi bi-gear"></i> <span class="d-sm-none">Settings</span></a>
                </li>
                {% endcomment %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'account_logout' %}"><i class="bi bi-box-arrow-up-right"></i> <span class="d-sm-none">Sign out</span></a>
                </li>
                {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'account_login' %}"><i class="bi bi-box-arrow-in-down-left"></i> <span class="d-sm-none">Sign in</span></a>
                </li>
                {% endif %}
            </ul>
        </div>
        
    </div>
</nav>

<div class = "container">
    <br>
    {% block content %}
    {% endblock %}
    <br>
    <br>
</div>
{% endblock %}